.slick-slider {
    margin: 5rem 0;

	img {
		height: 22vh;
	    margin: 0 auto;

		@media (min-width: $mobile-breakpoint) and (orientation: landscape) {
			height: 70vh;
	    }

	    @media (min-width: $desktop-breakpoint) and (orientation: landscape) {
			height: 60vh;
	    } 
	}	

	.slick-dots{
		bottom: -45px;

		li button:before {
			font-size : 1rem;
		}

		@media (min-width: $mobile-breakpoint) {
			bottom: -30px;
	    }
	} 

	.slick-next:before, 
	.slick-prev:before {
		color: black;
	}
}